/* custom CSS for shiny app */


.js-irs-0 .irs-bar,
.irs--shiny .irs-from,
.irs--shiny .irs-to,
.irs--shiny .irs-single {
  background-color: purple;
  border-top:none;
  border-bottom:none;
  
}

.nav-tabs > li > a {
  color: purple !important;
  }
